# AVARAGE HOUSE PRICE (INFLATION ADJUSTED),
# AVARAGE INCOME (INFLATION ADJUSTED),
# INFLATION,
# CPI MULTIPLIER,

In [261]:
import pandas as pd

In [262]:
df_inflation = pd.read_csv('united-kingdom-inflation-rate-cpi.csv',skiprows=16)
df_inflation = df_inflation[['date',' Inflation Rate (%)']]
df_inflation=df_inflation.rename(columns={' Inflation Rate (%)':'Inflation'})
df_inflation['date']= df_inflation['date'].str.replace('\-.+','',regex=True)

df_inflation.head(20)

    date  Inflation
0   1960     1.0036
1   1961     3.4475
2   1962     4.1965
3   1963     2.0185
4   1964     3.2816
5   1965     4.7738
6   1966     3.9096
7   1967     2.4821
8   1968     4.6974
9   1969     5.4467
10  1970     6.3666
11  1971     9.4448
12  1972     7.0711
13  1973     9.1960
14  1974    16.0440
15  1975    24.2073
16  1976    16.5595
17  1977    15.8403
18  1978     8.2631
19  1979    13.4213

In [263]:
df_cpi = pd.read_csv('GBRCPIALLMINMEI.csv')
df_cpi['DATE'] = df_cpi['DATE'].str.replace('\-.+','',regex=True)
df_cpi = df_cpi.rename(columns={'DATE':'date'})
df_cpi = df_cpi.rename(columns={'GBRCPIALLMINMEI':'CPI'})
df_cpi = df_cpi.groupby('date').mean().reset_index()
df_cpi['CPI_Multiplier'] = df_cpi['CPI'].iloc[-1] / df_cpi['CPI']

df_cpi.head(20)

    date        CPI  CPI_Multiplier
0   1960   5.653274       21.306237
1   1961   5.848171       20.596184
2   1962   6.093589       19.766676
3   1963   6.216591       19.375571
4   1964   6.420594       18.759947
5   1965   6.727098       17.905194
6   1966   6.990102       17.231508
7   1967   7.163605       16.814161
8   1968   7.500110       16.059765
9   1969   7.908616       15.230226
10  1970   8.412123       14.318621
11  1971   9.206635       13.082957
12  1972   9.857644       12.218944
13  1973  10.764157       11.189914
14  1974  12.491158        9.642821
15  1975  15.514929        7.763490
16  1976  18.084127        6.660537
17  1977  20.948702        5.749760
18  1978  22.679722        5.310912
19  1979  25.723633        4.682465

In [264]:
df_income = pd.read_csv('AWEPPUKQ.csv')
df_income['DATE'] = df_income['DATE'].str.replace('\-.+','',regex=True)
df_income = df_income.groupby('DATE').mean().reset_index()
df_income = df_income.rename(columns={'AWEPPUKQ':'Income'})
df_income = df_income.rename(columns={'DATE':'date'})
df_income['Income'] = df_income['Income'] * 52
df_income = pd.merge(df_income, df_cpi, how='left', on='date')
df_income['CPIAdjIncome'] = df_income['Income'] * df_income['CPI_Multiplier']
df_income = df_income.dropna()
df_income = df_income[['date','Income','CPIAdjIncome']]

df_income

    date    Income  CPIAdjIncome
41  1960    491.66  10475.424652
42  1961    522.86  10768.921009
43  1962    546.91  10810.592718
44  1963    569.14  11027.412707
45  1964    617.63  11586.706056
46  1965    659.36  11805.968674
47  1966    701.74  12092.038293
48  1967    728.13  12242.894773
49  1968    789.62  12681.111862
50  1969    850.46  12952.697713
51  1970    958.62  13726.116436
52  1971   1073.54  14045.077191
53  1972   1208.87  14771.114727
54  1973   1384.11  15488.072550
55  1974   1646.06  15872.662406
56  1975   2122.64  16479.095205
57  1976   2472.86  16470.575662
58  1977   2719.34  15635.551090
59  1978   3079.96  16357.395138
60  1979   3595.28  16834.771231
61  1980   4367.35  17335.482000
62  1981   4969.25  17630.695071
63  1982   5450.90  17808.260339
64  1983   5923.32  18498.996624
65  1984   6292.78  18724.005400
66  1985   6853.21  19224.363653
67  1986   7398.30  20065.655971
68  1987   7984.08  20791.773781
69  1988   8718.19  21797.737115
70  1989   9553.70  22585.734347
71  1990  10562.37  23107.082788
72  1991  11384.23  23175.726820
73  1992  12066.73  23486.737870
74  1993  12426.57  23583.724105
75  1994  12894.96  23941.393942
76  1995  13315.90  24073.548293
77  1996  13799.11  24255.422101
78  1997  14408.29  24780.750079
79  1998  15158.13  25604.255115
80  1999  15851.81  26314.696421
81  2000  16518.71  27101.184375
82  2001  17368.00  28064.513359
83  2002  17918.42  28520.299822
84  2003  18494.58  29037.655803
85  2004  19300.71  29887.771838
86  2005  20202.00  30643.268759
87  2006  21150.87  31313.599814
88  2007  22182.29  32075.112011
89  2008  22971.00  32085.701005
90  2009  22953.71  31444.690014
91  2010  23482.29  31386.445317
92  2011  24032.71  30929.462233
93  2012  24362.00  30566.696875
94  2013  24648.00  30232.704684
95  2014  24951.29  30166.954886
96  2015  25557.87  30787.020000
97  2016  26164.58  31203.204564

In [265]:
df_house_prices = pd.read_csv('Average-prices-2020-10.csv')
df_house_prices = df_house_prices[df_house_prices.values  == "United Kingdom"]
df_house_prices = df_house_prices[['Date','Average_Price']]
df_house_prices['Date'] = df_house_prices['Date'].str.replace('\-.+','',regex=True)
df_house_prices = df_house_prices.groupby('Date').mean().reset_index()
df_house_prices = df_house_prices.rename(columns={'Date':'date'})
df_house_prices = pd.merge(df_house_prices, df_cpi, how='left', on='date')
df_house_prices['CPIAdjPrice'] = df_house_prices['Average_Price'] * df_house_prices['CPI_Multiplier']
df_house_prices = df_house_prices[['date','Average_Price','CPIAdjPrice']]

df_house_prices

    date  Average_Price    CPIAdjPrice
0   1968    3669.066692   58924.349882
1   1969    3833.226964   58380.911662
2   1970    4056.620324   58085.208845
3   1971    4538.946895   59382.845080
4   1972    6067.160559   74134.294579
5   1973    8346.788251   93399.846825
6   1974    9001.736964   86802.140805
7   1975    9529.757632   73984.181629
8   1976   10372.559850   69086.819239
9   1977   11134.128123   64018.559320
10  1978   12956.814850   68812.497641
11  1979   16764.656208   78499.908776
12  1980   20267.870253   80449.998271
13  1981   21430.531148   76034.645043
14  1982   21938.243327   71672.925309
15  1983   24522.498328   76585.700887
16  1984   26807.203143   79764.145005
17  1985   29142.679170   81749.933561
18  1986   33102.834180   89781.447403
19  1987   38661.739025  100681.121905
20  1988   49319.361138  123311.199772
21  1989   58876.811298  139189.635344
22  1990   58162.437490  127240.785755
23  1991   57333.208138  116717.491608
24  1992   55052.666503  107154.759174
25  1993   54121.387402  102714.093161
26  1994   55558.838430  103153.172854
27  1995   55938.542475  101130.167972
28  1996   57986.232150  101925.452936
29  1997   63085.115055  108499.792123
30  1998   70313.052785  118768.828439
31  1999   77961.377137  129419.288520
32  2000   89596.593975  146995.365416
33  2001   96892.335998  156565.883120
34  2002  112519.666241  179094.731400
35  2003  130164.355050  204366.238094
36  2004  145608.726708  225479.808854
37  2005  156236.295750  236985.981611
38  2006  168512.965383  249481.348115
39  2007  185196.391767  267789.980652
40  2008  176852.687033  247026.356627
41  2009  161148.032617  220759.516960
42  2010  170364.509467  227709.323084
43  2011  167888.320842  216067.829173
44  2012  168555.812967  211484.871582
45  2013  172889.677650  212062.746160
46  2014  186769.880617  225811.112876
47  2015  197890.090183  238378.478499
48  2016  211724.744883  252497.480408
49  2017  221402.702017  257454.115442
50  2018  228354.187692  259585.641282
51  2019  230619.749250  257682.270846
52  2020  235910.340340  261011.027195

In [266]:
df_housing = df_house_prices.merge(df_income, on='date').merge(df_inflation, on='date')
df_housing

    date  Average_Price    CPIAdjPrice    Income  CPIAdjIncome  Inflation
0   1968    3669.066692   58924.349882    789.62  12681.111862     4.6974
1   1969    3833.226964   58380.911662    850.46  12952.697713     5.4467
2   1970    4056.620324   58085.208845    958.62  13726.116436     6.3666
3   1971    4538.946895   59382.845080   1073.54  14045.077191     9.4448
4   1972    6067.160559   74134.294579   1208.87  14771.114727     7.0711
5   1973    8346.788251   93399.846825   1384.11  15488.072550     9.1960
6   1974    9001.736964   86802.140805   1646.06  15872.662406    16.0440
7   1975    9529.757632   73984.181629   2122.64  16479.095205    24.2073
8   1976   10372.559850   69086.819239   2472.86  16470.575662    16.5595
9   1977   11134.128123   64018.559320   2719.34  15635.551090    15.8403
10  1978   12956.814850   68812.497641   3079.96  16357.395138     8.2631
11  1979   16764.656208   78499.908776   3595.28  16834.771231    13.4213
12  1980   20267.870253   80449.998271   4367.35  17335.482000    17.9659
13  1981   21430.531148   76034.645043   4969.25  17630.695071    11.8766
14  1982   21938.243327   71672.925309   5450.90  17808.260339     8.5989
15  1983   24522.498328   76585.700887   5923.32  18498.996624     4.6093
16  1984   26807.203143   79764.145005   6292.78  18724.005400     4.9607
17  1985   29142.679170   81749.933561   6853.21  19224.363653     6.0714
18  1986   33102.834180   89781.447403   7398.30  20065.655971     3.4276
19  1987   38661.739025  100681.121905   7984.08  20791.773781     4.1489
20  1988   49319.361138  123311.199772   8718.19  21797.737115     4.1554
21  1989   58876.811298  139189.635344   9553.70  22585.734347     5.7602
22  1990   58162.437490  127240.785755  10562.37  23107.082788     8.0635
23  1991   57333.208138  116717.491608  11384.23  23175.726820     7.4618
24  1992   55052.666503  107154.759174  12066.73  23486.737870     4.5915
25  1993   54121.387402  102714.093161  12426.57  23583.724105     2.5586
26  1994   55558.838430  103153.172854  12894.96  23941.393942     2.2190
27  1995   55938.542475  101130.167972  13315.90  24073.548293     2.6975
28  1996   57986.232150  101925.452936  13799.11  24255.422101     2.8518
29  1997   63085.115055  108499.792123  14408.29  24780.750079     2.2011
30  1998   70313.052785  118768.828439  15158.13  25604.255115     1.8206
31  1999   77961.377137  129419.288520  15851.81  26314.696421     1.7530
32  2000   89596.593975  146995.365416  16518.71  27101.184375     1.1830
33  2001   96892.335998  156565.883120  17368.00  28064.513359     1.5323
34  2002  112519.666241  179094.731400  17918.42  28520.299822     1.5204
35  2003  130164.355050  204366.238094  18494.58  29037.655803     1.3765
36  2004  145608.726708  225479.808854  19300.71  29887.771838     1.3904
37  2005  156236.295750  236985.981611  20202.00  30643.268759     2.0891
38  2006  168512.965383  249481.348115  21150.87  31313.599814     2.4557
39  2007  185196.391767  267789.980652  22182.29  32075.112011     2.3866
40  2008  176852.687033  247026.356627  22971.00  32085.701005     3.5214
41  2009  161148.032617  220759.516960  22953.71  31444.690014     1.9617
42  2010  170364.509467  227709.323084  23482.29  31386.445317     2.4927
43  2011  167888.320842  216067.829173  24032.71  30929.462233     3.8561
44  2012  168555.812967  211484.871582  24362.00  30566.696875     2.5732
45  2013  172889.677650  212062.746160  24648.00  30232.704684     2.2917
46  2014  186769.880617  225811.112876  24951.29  30166.954886     1.4511
47  2015  197890.090183  238378.478499  25557.87  30787.020000     0.3680
48  2016  211724.744883  252497.480408  26164.58  31203.204564     1.0084

In [240]:
df_housing.to_csv('UK_housing_vs_income.csv')